/* ------------------------------------------------------------
Author: Jerome Ricks
Date  : 10/3/15
Notes : CSS of the Home Page of My Website.
---------------------------------------------------------------*/

/* === CSS RESET === */
* {
  padding: 0;
  border: 0;
  margin: 0;
}
/* === END RESET === */


/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    color: #262626;
    /*background-image: url("/1.4.5._Twitter_Bootstrap/crossword.png");*/
}

p { font-size: 20px; }

p.small { font-size: 16px; }

a, a:hover, a:focus, a:active, a.active {
    outline: 0;
    color: #65c4ca;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

/*---Header---*/
header {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
	background: #000;
    background: url("/1.4.5._Twitter_Bootstrap/background.gif") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

header .list-inline {
    margin-left: 0;
}

.me {
    position: relative;
    width: 200px;
    height: 200px;
    bottom: 10px;
    margin: 0 auto;
    border-radius: 50%;
    /*-moz-box-shadow: 1px 2px 3px g;
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);*/
    box-shadow: 0px 0px 10px 4px gold;
    background: url("/1.4.5._Twitter_Bootstrap/me.jpg") no-repeat, 0, 0;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

/*---For Desktop---*/
@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
        -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
        -moz-animation: neon1 1.5s ease-in-out infinite alternate;
        animation: neon1 1.5s ease-in-out infinite alternate;
    }
    
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
/*---Navigation Bar---*/
.navbar-default {
    background-color: rgba(0, 0, 0, 0.6);
    border-color: transparent;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #000;
  border-radius: 4px;
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.list{
    list-style: none;
    bottom: 10px;
    position: relative;
}

/*---Buttons---*/
button {
	margin: 0 4px 0px 1px;
	/*-moz-box-shadow: 3px 3px 0px .1px black;
    -webkit-box-shadow: 3px 3px 0px .1px black;
    box-shadow: 3px 3px 0px .1px black;*/
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #ffffff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #47f10e;
	color: #47f10e;
    background: #000000;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.btn-lg {
    padding: 18px 27px;
    font-size: 19px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-default {
    color: #ffffff;
    background-color: #95a5a6;
}

.btn-default:hover, 
.btn-default:focus {
    color: #ffffff;
    background-color: #798d8f;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    background-color: #000;
    color: #fff;
    border: solid 2px #fff;
    transition: all .3s ease-in-out;
}

.scroll-top .btn:focus,
.scroll-top .btn:hover,
.scroll-top .btn:active {
    outline: 0;
    border: solid 2px #47f10e;
    color: #47f10e;
    background: #000000;
}

header ul:first-child {
    position: relative;
    bottom: 10px;
}

/*---Word Wraping---*/
/*---Only Phones---*/
@media (max-width: 767px) {
  body {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}

/*.portfolio {
    text-align: center;
}*/

#resume {
    color: #fff;
    background-color: #666666;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #4c4c4c;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #65c4ca;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #4c4c4c;
}

.form-group {
    margin-bottom: 15px;
}

/*---Footer---*/
footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #282828;
    /*background-image: url("/1.4.5._Twitter_Bootstrap/footer.png");*/
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #000;
}

footer .footer-link {
    color: white;
    margin-top: 10px;
}

footer small{
	padding: 7px;
	display: block;
	margin-top: -9px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.navbar-toggle {
    border: none;
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}

.navbar-toggle .top-bar {
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -ms-transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -ms-transform: rotate(0);
}

/*.spinner:after { animation: ani 2s infinite linear; }
.spinner {
  position: absolute;
  top: 50%; left: 50%;
  margin: -8em;
  width: 16em; height: 16em;
  border-radius: 50%;
  animation: ani 2s infinite linear reverse;
  cursor: pointer;
}
.spinner:before, .spinner:after {
  position: inherit;
  top: inherit; left: inherit;
  width: inherit; height: inherit;
  border-radius: inherit;
  content: '';
}
.spinner:before {
  padding: 5%;
  margin: -55%;
  transform: inherit;
  background: linear-gradient(90deg, 
                  hsl(0, 100%, 80%) 0%, hsl(17, 100%, 80%) 10%, 
                  hsl(35, 100%, 80%) 20%, hsl(53, 100%, 80%) 30%, 
                  hsl(71, 100%, 80%) 40%, hsl(89, 100%, 80%) 50%, 
                  hsl(107, 100%, 80%) 60%, hsl(125, 100%, 80%) 70%, 
                  hsl(143, 100%, 80%) 80%, hsl(161, 100%, 80%) 90%, 
                  hsl(179, 100%, 80%) 100%), 
    linear-gradient(-90deg, 
                  hsl(179, 100%, 80%) 0%, hsl(197, 100%, 80%) 10%, 
                  hsl(215, 100%, 80%) 20%, hsl(233, 100%, 80%) 30%, 
                  hsl(251, 100%, 80%) 40%, hsl(269, 100%, 80%) 50%, 
                  hsl(287, 100%, 80%) 60%, hsl(305, 100%, 80%) 70%, 
                  hsl(323, 100%, 80%) 80%, hsl(341, 100%, 80%) 90%, 
                  hsl(359, 100%, 80%) 100%) 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 50%;
}
.spinner:after {
  margin: -50%;
  background: url(/1.4.5._Twitter_Bootstrap/me.jpg);
  background-size: cover;
}
@keyframes ani { 
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/